[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "nvim/plug"]
	path = nvim/plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv.git
