[submodule "nvim/plug"]
	path = nvim/plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug.git
